.event-page{

}
.event-page .fc-media-screen {
    width: 77%;
}
.event-page .MuiContainer-root{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.event-page .demo-app-sidebar-section ul li{
    display: flex;
    margin-bottom: 6px;
    align-items: center;
}
.event-page .demo-app-sidebar{
    width: 23%;
}
.event-page .demo-app-sidebar-section ul li b{
    font-size: 14px;
}
.event-page .demo-app-sidebar-section ul li h6{
    margin-left: 11px;
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}