.profile-page{

}
.profile-card{
    display: flex;
    margin-left: 109px;
    align-items: flex-start;
    justify-content: center;
}
.profile-text .MuiPaper-root{
    max-width: 72%;
}
.profile-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.profile-card img{
    height: 100%;
    object-fit: cover;
    width: 100%;

}
.employee-img-upload .preview-img img{
    width: 156px;
    border-radius: 15px;
}
.employee-img-upload h6{
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 11px;
    margin-top: -7px;
    font-size: 14px;
    font-weight: normal;
}
.employee-img-upload button {
 background-color:  unset  !important;
 box-shadow: none !important;
 border: none;
}
.employee-img-upload{
    display: flex;
    justify-content: center;
}
.employee-img-upload label{
    padding: 0px !important;
}
.employee-img-upload label img{
    border: 1px solid;
    border-radius: 15px;
    padding: 14px !important;
    width: 150px;
    height: 150px;
    margin-bottom: 28px;
}
.employee-img-upload .employee-new-user form div{
    display: flex;
    flex-direction: column;
}
.profile-card .MuiPaper-root {
    max-width: 258px;
}
.address-input .MuiInputBase-root {
}
.profile-card .MuiTypography-root{
    font-size: 16px;
    text-transform: capitalize;
}
.profile-text{
    margin-left: -166px;
}
@media screen and (min-device-width: 1100px) and (max-device-width: 1394px) { 
    .profile-text{
margin-left: -63px !important;
    }
}
@media screen and (min-device-width: 800px) and (max-device-width: 1100px) { 
    .profile-text{
margin-left: -57px !important;
    }
}
.profile-page .profile-text .MuiCardContent-root .MuiTypography-root{
      text-align: start;
}
.profile-text form .MuiFormControl-root{
    margin-bottom: -9px;
}
.model-edit-form form .input-data{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
}
.profile-text .profile-lable{
     display: flex;
     align-items: center;
   border-bottom: 1px solid #c1bcbc;
   padding-bottom: 3px;
   padding-top: 13px;
}
.model-edit-form form .MuiFormControl-root{
    width: 100%;
    margin-bottom: -9px;
}
.model-edit-form .input-data .MuiFormGroup-root {
    display: flex;
    flex-direction: row;
}
.model-edit-form .react-select-city{
    margin-bottom: 10px;
}
.profile-card .MuiCardContent-root {
    padding: 11px;
}