.attendance-list h1 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.attendance-list .MuiCalendarOrClockPicker-root {
    background-color: #f9fafb !important;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}
.attendance-list .MuiCalendarOrClockPicker-root div{
    margin-left: 0px !important;
}
.attendance-list .MuiPickersToolbar-root  .MuiButtonBase-root {
    display: none;
}
.time-add-alert{
    position: absolute;
    top: 93px !important;
    right: 30px !important;
    left: unset !important;
    bottom: unset !important;
}
.attendance-list .check-icon .MuiSvgIcon-root {
    background-color: #4cb050;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}
.attendance-list .close-icon .MuiSvgIcon-root{
    background-color: #f44236;
    color: white;
    font-size: 25px;
    padding: 2px;
    border-radius: 5px;
}
.totalWorkTimeData{
    width: 174px;
    margin-top: -5px;
    margin-right: 18px;
    height: 49px;
    border: 1px solid #e0e4e8;
    position: relative;
    border-radius: 6px;
}
.totalWorkTimeData span{
    color: #919EAB;
    opacity: 1;
    background-color: #f9fafb;
    position: absolute;
    top: -11px;
    left: 7px;
    font-size: 1rem;
    font-weight: 400;
}
.totalWorkTimeData h1{
    margin-left: -8px;
    color: #919EAB;
    padding: 15px;
    opacity: 1;
    font-size: 1rem;
    font-weight: 400;
}
.attendance-list table{
    position: relative;
}
.attendance-list .MuiToolbar-root {
  position: absolute;
  right: 0;
}